data/steam_games_limpio.csv
australian_user_reviews.json
australian_users_items.json
Diccionario de Datos STEAM.xlsx
output_steam_games.json
steam_games.json.gz
user_reviews.json.gz
users_items.json.gz
git_proyecto.md
data/user_items_limpio.csv
data/user_review_limpio.csv
git-proyecto.md
main1.py
Fastapi
